* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  
  --text-color : #303030;
  --bg-body : linear-gradient(to left top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  --bg-hover-bt-notes : #fff;

  --bs-switch-button : 19px 19px 37px #75be30,-19px -19px 37px #9fff42;

  --url-switch-button : url(/notesApp/assets/img/sun-line.svg)
}

body{
  width: 100%;
  min-height: 100vh;
  background-image: var(--bg-body);
  color: var(--text-color);
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
}

/* Switch */
#switch {
display: flex;
}

#switch button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: var(--url-switch-button) no-repeat center;
  box-shadow: var(--bs-switch-button);
  border: 1px solid #30303012;
  z-index: 1;
  left: 0;
  cursor: pointer;
 
}

#switch button:hover {
  background: #0000001a url(/notesApp/assets/img/moon-line.svg) no-repeat center;
}

.container{
  width: 100%;
}

.title-notes {
  display: flex;
  padding-top: 30px;
  
}

.button-notes {
  display: flex;
  align-items: center;
  background: transparent ;
  font-size: 16px;
  color: var(--text-color);
  outline: 0;
  border: 0;
  border-radius: 40px;
  padding: 10px 65px;
  margin: 30px 0 20px;
  cursor: pointer;
  border: 2px solid var(--text-color);
}

.button-notes:hover {
  background: var(--bg-hover-bt-notes);
}

.input-box{
  position: relative;
  width: 100%;
  max-width: 500px;
  min-height: 150px;
  background: transparent;
  color:var(--text-color);
  padding: 20px;
  margin: 20px 0;
  outline: none;
  border-radius: 12px;
  border: 2px solid var(--text-color);
}

.input-box img {
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
}

footer {
  display: flex;
  padding: 20px 0px;
}

footer a {
  color: var(--text-color)
}


/* Dark Theme Mode */
.dark {
    --text-color : #fff;
    --bg-body: linear-gradient(to bottom, #051937, #0f223a, #1b2b3b, #29333d, #373b3e);;
    --bs-switch-button : box-shadow:  19px 19px 37px #152232,
             -19px -19px 37px #1d2e44;
    --bg-hover-bt-notes : #133055;
    --url-switch-button : #0000001a url(/notesApp/assets/img/moon-line-w.svg) ;
}

.dark #switch button:hover {
  background: #ffffff1a url(/notesApp/assets/img/sun-line-w.svg) no-repeat center;
}







